<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>About Us</h2>
      <hr>
      <p></p>
    </div>
    <div class="row wow fadeInUp" data-wow-delay="300ms">
      <div class="col-xs-12 col-md-6 text-center"> <img src="img/about.jpg" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>Our History</h3>
          <p>{{ site.name }} was incorporated in August 08, 2015.</p>
          <h3>How We Work</h3>
          <p>We provide second-to-none customer service to all of our clients, not only selling and lending out equipment, but also giving advice on what material to use and how to use it.</p>
        </div>
      </div>
    </div>
  </div>
</div>