<!-- Choose Section -->
<div id="choose">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"> </div>
      <div class="col-md-6">
        <div class="choose-text">
          <h2 class="wow fadeInDown">Why Choose Us</h2>
          <ul>
            <li class="wow fadeInUp" data-wow-delay="300ms"><i class="fa fa-magic"></i>
              <h4>Lorem Ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
            </li>
            <li class="wow fadeInUp" data-wow-delay="600ms"><i class="fa fa-edit"></i>
              <h4>Adipiscing Elit</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
            </li>
            <li class="wow fadeInUp" data-wow-delay="900ms"><i class="fa fa-trophy"></i>
              <h4>Duis Sdapibus</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>