<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">{{site.name}}</h1>
                    <p class="intro-text">
                      Rent A Tool is a shop that sells building materials and loans out
                      construction equipment for all your building needs, whether commercial,
                      residential, or municipal in the Alhambra, Monterey Park, Montebello,
                      and East Los Angeles area.
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
