<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1 class="wow fadeInDown"><strong>INTERSPACE</strong> <span>|</span> Inspiring Interiors</h1>
                        <p class="wow fadeInLeft" data-wow-delay="600ms">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
                        <a href="#services" class="btn btn-custom btn-lg page-scroll wow fadeInUp" data-wow-delay="1200ms">Learn More</a> </div>
                </div>
            </div>
        </div>
    </div>
</header>