<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <div class="wow fadeInDown">
                            <svg viewbox="0 1 20 87" preserveAspectRatio="none" width="2%"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M0,20 L70,00 L25,100 L0,100z" fill="white"></path>
                            </svg>
                            <svg viewbox="0 1 18 87" preserveAspectRatio="none" width="2%"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M0,20 L70,00 L25,100 L0,100z" fill="white"></path>
                            </svg>
                            <svg viewbox="0 0 20 80" preserveAspectRatio="none" width="2%"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M0,0 L100,20 L100,80 L0,100z" fill="white"></path>
                            </svg>
                            <svg viewbox="0 0 19 70" preserveAspectRatio="none" width="2%">
                                <path d="M0,0 L100,20 L100,80 L0,100z" fill="white"></path>
                            </svg>
                        </div>
                        <h1 class="wow fadeInDown"><i class="fa fa-rcf-logo"></i> {{ site.name }}</h1>
                        <p class="wow fadeInLeft" data-wow-delay="600ms">Number #1 business in the Buena Park area for all your building needs. We sell building materials and lend out construction equipment</p>
                        <a href="#services" class="btn btn-custom btn-lg page-scroll wow fadeInUp" data-wow-delay="1200ms">Learn More</a> </div>
                </div>
            </div>
        </div>
    </div>
</header>