<div id="services">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Our Services</h2>
      <hr>
      <p>We provide for the construction and building material needs of our clients in the residential, municipal, and commercial sectors</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="300ms"> <img src="img/residential-design.jpg" class="img-responsive" alt="Residential">
        <h3>Residential</h3>
        <p>Whether a beginning or experienced home improver, our seasoned staff will help advise you on the proper tools to use for every job. We provide all the tools needed to build and improve your home or residential property.</p>
      </div>
      <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="600ms"> <img src="img/municipal-services.jpg" class="img-responsive" alt="Municipal">
        <h3>Municipal</h3>
        <p>We provide building and construction services to municipalities to help for their landscaping and public works needs. Our clients include the cities of Alhambra, Buena Park.</p>
      </div>
      <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="900ms"> <img src="img/commercial-design.jpg" class="img-responsive" alt="Commercial">
        <h3>Commercial</h3>
        <p>We help private contractors, construction companies, landscaping agencies with materials, tools, and advice to help with commercial projects.</p>
      </div>
    </div>
  </div>
</div>