<!-- Team Section -->
<div id="team" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>Meet our Team</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="300ms">
        <div class="img-bg">
          <div class="hover-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec. Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
          </div>
          <img src="img/team/01.jpg" alt="..." class="img-responsive"></div>
        <div class="caption">
          <h4>Jessica Wally</h4>
          <p>Director</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
        <div class="img-bg">
          <div class="hover-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec. Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
          </div>
          <img src="img/team/02.jpg" alt="..." class="img-responsive"></div>
        <div class="caption">
          <h4>Mike Sloan</h4>
          <p>Interior Designer</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="900ms">
        <div class="img-bg">
          <div class="hover-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec. Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
          </div>
          <img src="img/team/03.jpg" alt="..." class="img-responsive"></div>
        <div class="caption">
          <h4>Michele Doe</h4>
          <p>Interior Designer</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="1200ms">
        <div class="img-bg">
          <div class="hover-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec. Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
          </div>
          <img src="img/team/04.jpg" alt="..." class="img-responsive"></div>
        <div class="caption">
          <h4>Larry Evans</h4>
          <p>Project Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>